@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading, Logo, Nav bar */

header {
    background-color: #425a81;
    position: fixed;
    max-width: 100%;
}

#title {
    float: left;
}

h1 {
    background-color: #425a81;
    color: white;
}

#menu #title {
     font-family: Playfair Display, serif;
     margin-left: 20px;
     font-size: 60px;
}

#menu a {
    text-decoration: none;
    color: white;
    background-color: #425a81;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}

.right {
    float: right;
    font-family: 'Montserrat', sans-serif;
}

/* body */

#wreck_image {
    max-width: 100%;
    max-height: auto;
}
