@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;    
}

/* Heading, Logo, Nav bar */

header {
    background-color: #425a81;
    position: fixed;
    margin: 0;
    display: block;
    width: 100%;
    color: white;
    top: 0; 
}

#hero-outer {
    margin-top: 60px;
}

#logo {
    float: left;
    font-family: 'Playfair Display', serif;
    margin-left: 20px;
    font-size: 280%;
    color: white;
}

#menu a {
    text-decoration: none;
    color: inherit;
    background-color: #425a81;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    display: inline;
}

.right {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

#menu .right a:hover {
    text-decoration: none;
    color: #425a81;
    background-color: white;
    border-radius: 12px;
}

.active {
    text-decoration: underline;
}

/* body */

body {
    background-color: #e8eaea;
}

.hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;    
}

#hero_image {
    background: url(/assets/images/wreck_image_edit.jpg) no-repeat center center;
    max-width: 100%;
    height: 500px;
}

.flex-container {
    display: flex;    
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flex-container div {
    margin: 10px;
    max-width: 70%;    
}

.flex-container img {
    
}

/* footer */

footer {
    background-color: #425a81;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    vertical-align: middle;    
    width: 100%;    
}

#link-list .flex-container {
    border-style: solid;
    border-width: 1px;
    border-color: #425a81;
    margin: 30px 10px;
   
}

#link-list a {
    text-decoration: none;
}

#link-list img {
    border-style: ridge;
    border-width: 2px;  
    border-color: #425a81;
    max-width: 90%;
    height: auto;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        height: auto;
        max-width: 100%;        
    }
   
}


@media only screen and (max-width: 1000px) {
    .right {
        clear: left;       
        float: left;
    }    
}